/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  background-color: var(--bg-color);
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

@supports (font-variation-settings: normal) {
  page {
    font-family: "Inter-Variable", sans-serif;
  }
}

.page__wrapper {
  width: 100%;
  background-image: var(--bg-wrapper-color);
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: flex;
  justify-content: center;
  min-width: 375px;
  padding: 100px 0 98px 0;
}

.header__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--border-color);
  background-color: var(--bg-color);
  padding: 120px 14px 25px 14px;
}

.header__title {
  outline: none;
  color: var(--main-text-color);
  font-family: var(--accent-font), fantasy;
  font-weight: var(--font-weight-title);
  font-size: clamp(3.063rem, 2.71rem + 1.502vw, 4.063rem);
  line-height: 1;
  text-decoration: none;
}

.header__article {
  padding: 20px 0 25px 0;
}

.header__article-text {
  color: var(--main-text-color);
  font-family: var(--accent-font), fantasy;
  font-weight: var(--font-weight-text);
  font-size: clamp(0.875rem, 0.677rem + 0.845vw, 1.438rem);
  line-height: 1;
  text-transform: uppercase;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 14px;
  padding-left: 15px;
}

.theme-menu__item {
  position: relative;
  width: 84px;
  height: 14px;
}

.theme-menu__button {
  border: 1px solid transparent;
  color: var(--main-text-color);
  font-family: var(--accent-font), fantasy;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  text-align: start;
  text-transform: uppercase;
  background-color: transparent;
  padding: 0;
  transition: opacity 0.3s;
}

.theme-menu__button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  margin-top: 1px;
  background-color: var(--main-text-color);
  transition: width 300ms, background-color 0.3s, opacity 0.3s;
}

.theme-menu__button:hover::after {
  opacity: 0.6;
}

.theme-menu__button:focus-visible {
  width: 100%;
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
  opacity: 0.6;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  top: 0;
  left: -20px;
  color: var(--main-text-color);
  font-size: 14px;
  line-height: 1;
  opacity: 0.6;
  animation: toright 0.5s ease-in-out alternate infinite;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  width: 100%;
}
  

.card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-width: 375px;
  border: 2px solid var(--border-color);
  background-color: var(--bg-color);
}

.card__title {
  width: 100%;
  color: var(--main-text-color);
  font-family: var(--main-font), sans-serif;
  font-size: 18px;
  line-height: 1.21;
  font-variation-settings: "wght" var(--font-weight-title);
  padding: 5px 10px;
}

.card__image-wrapper {
  position: relative;
}

.card__image-watermark {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  color: var(--main-text-color);
  font-family: var(--accent-font), fantasy;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  text-shadow: 0 0 0 var(--bg-color);
  padding: 27px 11px 0 0;
  opacity: 0.5;
  mix-blend-mode: hard-light;
}

@supports ((-webkit-text-stroke: 1px var(--bg-color))) {
  .card__image-watermark {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--bg-color);
  }
}

.card__image {
  width: 100%;
  border-top: 2px solid var(--border-color);
  border-bottom: 2px solid var(--border-color);
  object-fit: cover;
  object-position: center;
}

.filter-blur {
  filter: blur(0.05rem);
}

.filter-grayscale {
  filter: grayscale(0.3);
}

.filter-sepia {
  filter: sepia(80%);
}

.filter-saturate {
  filter: saturate(58%);
}

.filter-opacity {
  filter: opacity(0.6);
}

.filter-multiple {
  filter: brightness(200%) saturate(60%) hue-rotate(90deg);
}

.img-hue-rotate {
  filter: hue-rotate(-90deg);
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: 27px;
  width: 100%;
  color: var(--main-text-color);
  font-family: var(--main-font), sans-serif;
  font-size: 18px;
  line-height: 1.16;
  font-variation-settings: "wght" var(--font-weight-text);
  padding: 22px 26px 24px 25px;
}

.card__button-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 0 27px 25px 0;
}

.card__button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
}

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  outline: none;
  background-color: transparent;
  transition: all 0.3s ease;
}

.card__icon-button:focus-visible {
  border-color: var(--border-color);
}

.sparks {
  opacity: 0;
}

.like-icon.is-liked .sparks {
  animation: flash 0.3s ease-in 0.3s alternate;
}

.core {
  fill: var(--color-contour-heart);
  transition: all 0.3s linear;
  opacity: 0;
  transition-delay: 0.03s;
}

.card__icon-button:hover .core {
  opacity: 1;
  transition: all 0.3s linear;
}

.card__icon-button:active .core {
  fill: var(--color-sparks-heart);
  opacity: 1;
  transition: all 0.3s linear;
}

.like-icon.is-liked .core {
  fill: var(--color-sparks-heart);
  opacity: 1;
  transition: all 0.3s linear;
}

.main-body {
  fill: var(--color-contour-heart);
  opacity: 0;
  transition: all 0.3s linear 0.05s;
}

.card__icon-button:hover .main-body {
  opacity: 1;
  transition: all 0.3s linear 0.05s;
}

.card__icon-button:active .main-body {
  fill: var(--color-sparks-heart);
  opacity: 1;
  transition: all 0.3s linear 0.05s;
}

.like-icon.is-liked .main-body {
  fill: var(--color-sparks-heart);
  opacity: 1;
  transition: all 0.3s linear 0.05s;
}

.contour {
  fill: var(--color-contour-heart);
  transition: all 0.3s linear 0.06s;
}

.like-icon.is-liked .contour {
  fill: var(--color-sparks-heart);
  transition: all 0.3s linear 0.06s;
}

.like-icon.is-liked .heart {
  transform-origin: center center;
  animation: big 0.3s ease-in 0.1s alternate;
}

.card__like-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 38px;
  background-color: transparent;
}

.button_text-style {
  border: 2px solid var(--border-color);
  transition: box-shadow 0.3s;
}

.button_text-style:focus {
  box-shadow: 2px 2px 0 0 var(--main-text-color);
  outline: none;
}

.button__text {
  position: relative;
  z-index: 3;
  color: var(--accent-color);
  font-family: var(--accent-font), fantasy;
  font-weight: 400;
  font-size: 14px;
  line-height: 0.9;
  mix-blend-mode: difference;
}

.button_text-style:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  transform-origin: left 0;
  background: var(--main-text-color);
  scale: 0 1;
  transition: scale 0.5s ease-in-out;
}

.button_text-style:hover:before {
  scale: 1;
}

.save-section {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 50px 0 102px 0;
}

.save-section__button {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: var(--bg-color);
  padding: 15px 19.5px 15px 20.5px;
}

.save-section__button-floppy {
  position: relative;
  z-index: 3;
  fill: var(--accent-color);
  mix-blend-mode: difference;
}

.dialog {
  border: 2px solid var(--border-color);
  background-color: var(--bg-color);
  min-inline-size: 341px;
  padding: 30px 42px 30px 42px;
}

.dialog::backdrop {
  background-color: var(--backdrop-color);
  opacity: 0.75;
}

.dialog__content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.dialog__content-save {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.dialog__content-floppy {
  width: 39px;
  height: 39px;
  fill: var(--main-text-color);
}

.dialog__content-text {
  max-width: 198px;
  color: var(--main-text-color);
  font-family: var(--accent-font), fantasy;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
}

.dialog__button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 38px;
  border: 2px solid var(--border-color);
  outline: none;
  background-color: transparent;
}

/* ДЛЯ ДЕСКТОП */
@media (width >= 376px) {
  .header__content {
    width: 100%;
    max-width: 700px;
    padding: 136px 0 28px 0;
  }

  .card {
    width: 100%;
    max-width: 700px;
  }

  .card__image-watermark {
    padding: 27px 25px 0 0;
  }

  .save-section__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px 19px 15px 21px;
  }

  .save-section__button-floppy {
    width: 21px;
    height: 21px;
  }

  .dialog {
    max-inline-size: 353px;
    padding: 30px 30px 30px 30px;
  }
} 
